.outer{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}
.expense{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 3px;
    color: black;
    font-size: small;
    border: 3px solid #888c94;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%; /* Adjust as needed */
}
.left-box{
    flex-grow: 8;
}
.expense-title{
    text-align: left;
    font-size: medium;
    align-self: center;
}
.expense-amount{
    align-self: center;
    text-align: right;
    flex-grow: 4;
    font-size: medium;
}
.expense-category{
    text-align: left;
}
/* Expense.css */
.outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expense.shrunk {
    width: 50%; /* Adjust as needed */
}

.expense-buttons {
    display: flex;
    gap: 10px;
    /* Display the buttons when the expense is shrunk */
}

.expense-buttons button {
    cursor: pointer;
    /* Additional button styling */
}